@{
    ViewBag.Title = "עלינו";
}

<style>
    h3, h2 {
        color: #ffffff;
    }
</style>

<div class="dir-rtl">
    <div class="well well-sm" style="background-color:hsla(15, 82%, 45%,0.8); color: white;">
        <h2>קצת מידע עלינו..</h2>
        <hr />


        <h4 style="padding-right:10px">רשת המחברת בין לקוחות וספקים בענף המזון, הדרך להשוות מחירים ובחירת ספקים מעולם לא הייתה פשוטה כל כך,</h4>
        <h4 style="padding-right:10px">חסכו זמן,כסף וכאב ראש והצטרפו עכשיו ללא תשלום.</h4><br />
        <p style="padding-right:30px"><img src="~/Content/Images/check-mark.png" width="27" height="27" style="margin-left:7px;" /><font size="3">מערכת חכמה המאפשרת איתור ספקים וקבלת הצעות מחיר בדרך המהירה והיעילה ביותר</font></p><br />
        <p style="padding-right:30px"><img src="~/Content/Images/check-mark.png" width="27" height="27" style="margin-left:7px;" /><font size="3">הקמה מהירה וידידותית ללא כל צורך בהתקנת תוכנה או רכישת חומרה</font></p><br />
        <p style="padding-right:30px"><img src="~/Content/Images/check-mark.png" width="27" height="27" style="margin-left:7px;" /><font size="3">מאגר עסקים ייעודיים משוק המזון שמחכה להצעות המחיר שלך</font></p><br />
        <p style="padding-right:30px"><img src="~/Content/Images/check-mark.png" width="27" height="27" style="margin-left:7px;" /><font size="3">קבלת פניות ישירות מלקוחות פוטנציאלים בזמן אמת</font></p><br />
        <p style="padding-right:30px"><img src="~/Content/Images/check-mark.png" width="27" height="27" style="margin-left:7px;" /><font size="3">הירשמו עכשיו ותנו למערכת לעבוד בשבילכם</font></p>
    </div>
</div>