.price-comparison {
    padding-top: 58px;
}

.content-book-product-details {
    border-left: 1px solid #b1b1b1;
    padding-top: 50px;
}

.product-details-heading {
    color: #e95420;
    padding-top: 10px;
}
